body{
    padding: 0px;
    margin: 0px;
    background-color: #2D2727;
  }
  
  header{
    background: #2D2727;
    height: 140px;
  }
  
  header *{
  color: rgb(238, 255, 0);
  }
  
  .nav{
    margin-right:440px;
    font-family: 'Pixel12x10', sans-serif;
    font-family: 'Pixel12x10Mono', sans-serif;
  }
  
  header .logo{
    float: left;
  }
  
  header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  header ul li{
    float: left;
    position: relative;
  }
  
  header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 270px;
    display: none;
  ;
  }
  
  header ul li ul li{
  width: 100%;
  }
  
  header ul li ul li a{
    padding: 30px
    ;
  }
  
  header ul li:hover ul{
  display: block;
  }
  
  header ul li a:hover{
  background: #9a4ef8;
  transition: 0.5s;
  }
  
  header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
  }
  
  header .menu-toggle{
    display:none;
  }
  
  .logo{
    width: 100%;
    height: 100%;
    margin-left: 80px;
  }
  
  .a{
    background-color:#8F43EE;
    height: 62.8px;
  }
  
  .container{
  font-size: 30px;
  margin: 20px;
  padding:20px;
  width: 280px;
  }
  
  .neon{
      position: relative;
      display: inline-block;
      padding: 15px 20px;
      margin: 40px 0;
      font-family: 'DePixel', sans-serif;
      text-decoration: none;
      transition: 0.4s;
      letter-spacing: 4px;
      overflow: hidden;
      margin-right: 50px;
      border: 2px solid #000000;
      background-color: #8153ca;
      color: white;
    }
  
    .neon:hover{
      background: #a503df;
      color: #000;
      box-shadow: 0 0 8px #7500f1, 0 0 35px #6f2bdd, 0 0 60px #7a3ccc;
    }
  
    table{
      font-size: 20px;
      color: honeydew;
    }

    td{
      border: 2px solid rgb(0, 132, 255);
      box-sizing: inherit;
      PADDING:20PX;
      TEXT-ALIGN:CENTER;
    }

    tr{
      border: 2px solid rgb(230, 242, 0);
    }